#Si un archivo ya está siendo versionado por Git, agregar dicho archivo a .gitignore no hará que Git deje de observarlo.
#En este caso necesitarás ejecutar git rm --cached Core/Framework/datatables/ -r

*.sql
*.csv

#Libreria Alpaca

Core/Framework/alpaca/.bower.json
Core/Framework/alpaca/.bowerrc
Core/Framework/alpaca/.jshintrc
Core/Framework/alpaca/.testem.json
Core/Framework/alpaca/alpaca.jquery.json
Core/Framework/alpaca/bower.json
Core/Framework/alpaca/deploy-cleanup.sh
Core/Framework/alpaca/deploy-npm.sh
Core/Framework/alpaca/deploy.sh
Core/Framework/alpaca/favicon.ico
Core/Framework/alpaca/Gruntfile.js
Core/Framework/alpaca/gulpfile.js
Core/Framework/alpaca/jsdoc.conf.json
Core/Framework/alpaca/license.txt
Core/Framework/alpaca/package.json
Core/Framework/alpaca/README.md
Core/Framework/alpaca/tests.mustache

Core/Framework/alpaca/config/
Core/Framework/alpaca/deployment/
Core/Framework/alpaca/features/
Core/Framework/alpaca/gulp/
Core/Framework/alpaca/lib/
Core/Framework/alpaca/server/
Core/Framework/alpaca/site/
Core/Framework/alpaca/src/
Core/Framework/alpaca/tests/
Core/Framework/alpaca/thirdparty/

Core/Framework/alpaca/dist/lib/

Core/Framework/alpaca/dist/alpaca/bootstrap/images/
Core/Framework/alpaca/dist/alpaca/jquerymobile
Core/Framework/alpaca/dist/alpaca/jqueryui
Core/Framework/alpaca/dist/alpaca/jsdoc
Core/Framework/alpaca/dist/alpaca/web

#Menu
Core/Framework/mmenu/demo/
Core/Framework/mmenu/bower.json
Core/Framework/mmenu/Guardfile
Core/Framework/mmenu/index.html
Core/Framework/mmenu/mmenu.jquery.json
Core/Framework/mmenu/README.md
Core/Framework/mmenu/src/scss/
Core/Framework/mmenu/src/css/addons/
Core/Framework/mmenu/src/css/extensions/
Core/Framework/mmenu/src/js/addons/
Core/Framework/mmenu/src/js/umd/

#Libreria DataTables
Core/Framework/datatables/*


#Libreria Datagrid

Core/Framework/datatables/Datagrid/DOCS.txt	
Core/Framework/datatables/Datagrid/FAQs.txt	
Core/Framework/datatables/Datagrid/LICENSE.txt	
Core/Framework/datatables/Datagrid/README.txt	
Core/Framework/datatables/Datagrid/bootstrap/	
Core/Framework/datatables/Datagrid/config.php	
Core/Framework/datatables/Datagrid/demos/	
Core/Framework/datatables/Datagrid/index.php	
Core/Framework/datatables/Datagrid/robots.txt
Core/Framework/datatables/Datagrid/lib/inc/

