#Si un archivo ya está siendo versionado por Git, agregar dicho archivo a .gitignore no hará que Git deje de observarlo.
#En este caso necesitarás ejecutar git rm --cached Core/Framework/datatables/ -r

*.sql
*.csv

Core/Framework/datatables/alpaca/.bower.json

Core/Framework/datatables/*