#Si un archivo ya está siendo versionado por Git, agregar dicho archivo a .gitignore no hará que Git deje de observarlo.
#En este caso necesitarás ejecutar git rm --cached Core/Framework/datatables/ -r

*.sql
*.csv

#Libreria Alpaca

Core/Framework/alpaca/.bower.json
Core/Framework/alpaca/.bowerrc
Core/Framework/alpaca/.jshintrc
Core/Framework/alpaca/.testem.json
Core/Framework/alpaca/alpaca.jquery.json
Core/Framework/alpaca/bower.json
Core/Framework/alpaca/deploy-cleanup.sh
Core/Framework/alpaca/deploy-npm.sh
Core/Framework/alpaca/deploy.sh
Core/Framework/alpaca/favicon.ico
Core/Framework/alpaca/Gruntfile.js
Core/Framework/alpaca/gulpfile.js
Core/Framework/alpaca/jsdoc.conf.json
Core/Framework/alpaca/license.txt
Core/Framework/alpaca/package.json
Core/Framework/alpaca/README.md
Core/Framework/alpaca/tests.mustache

Core/Framework/alpaca/config/
Core/Framework/alpaca/deployment/
Core/Framework/alpaca/features/
Core/Framework/alpaca/gulp/
Core/Framework/alpaca/lib/
Core/Framework/alpaca/server/
Core/Framework/alpaca/site/
Core/Framework/alpaca/src/
Core/Framework/alpaca/tests/
Core/Framework/alpaca/thirdparty/

Core/Framework/alpaca/dist/lib/

Core/Framework/alpaca/dist/alpaca/bootstrap/images/
Core/Framework/alpaca/dist/alpaca/jquerymobile
Core/Framework/alpaca/dist/alpaca/jqueryui
Core/Framework/alpaca/dist/alpaca/jsdoc
Core/Framework/alpaca/dist/alpaca/web

#Menu
Core/Framework/mmenu/demo/
Core/Framework/mmenu/bower.json
Core/Framework/mmenu/Guardfile
Core/Framework/mmenu/index.html
Core/Framework/mmenu/mmenu.jquery.json
Core/Framework/mmenu/README.md
Core/Framework/mmenu/src/scss/
Core/Framework/mmenu/src/css/addons/
Core/Framework/mmenu/src/css/extensions/
Core/Framework/mmenu/src/js/addons/
Core/Framework/mmenu/src/js/umd/

#Libreria DataTables
Core/Framework/datatables/*


#Libreria Datagrid


Core/Framework/Datagrid/DOCS.txt
Core/Framework/Datagrid/FAQs.txt
Core/Framework/Datagrid/LICENSE.txt
Core/Framework/Datagrid/README.txt
Core/Framework/Datagrid/bootstrap/
#Core/Framework/Datagrid/config.php
Core/Framework/Datagrid/demos/
Core/Framework/Datagrid/index.php
Core/Framework/Datagrid/robots.txt
Core/Framework/Datagrid/lib/inc/
Core/Framework/Datagrid/lib/js/jquery.min.js

Core/Framework/Datagrid/lib/js/themes/black-tie
Core/Framework/Datagrid/lib/js/themes/dark-hive
Core/Framework/Datagrid/lib/js/themes/flick
Core/Framework/Datagrid/lib/js/themes/le-frog
Core/Framework/Datagrid/lib/js/themes/redmond
Core/Framework/Datagrid/lib/js/themes/sunny
Core/Framework/Datagrid/lib/js/themes/ui-lightness
Core/Framework/Datagrid/lib/js/themes/blitzer
Core/Framework/Datagrid/lib/js/themes/dot-luv
Core/Framework/Datagrid/lib/js/themes/hot-sneaks
Core/Framework/Datagrid/lib/js/themes/mint-choc
Core/Framework/Datagrid/lib/js/themes/smoothness
Core/Framework/Datagrid/lib/js/themes/swanky-purse
Core/Framework/Datagrid/lib/js/themes/vader
Core/Framework/Datagrid/lib/js/themes/eggplant
Core/Framework/Datagrid/lib/js/themes/humanity
Core/Framework/Datagrid/lib/js/themes/overcast
Core/Framework/Datagrid/lib/js/themes/south-street
Core/Framework/Datagrid/lib/js/themes/trontastic
Core/Framework/Datagrid/lib/js/themes/cupertino
Core/Framework/Datagrid/lib/js/themes/excite-bike
Core/Framework/Datagrid/lib/js/themes/pepper-grinder
Core/Framework/Datagrid/lib/js/themes/start	
Core/Framework/Datagrid/lib/js/themes/ui-darkness

Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-cs.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-fa.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-hu.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-mne.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-ru.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-tw.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-da.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-fi.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-id.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-nl.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-sk.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-ua.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-ar.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-de.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-fr.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-is.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-no.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-sr-latin.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-vi.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-bg.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-dk.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-gl.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-it.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-pl.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-sr.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-bg1251.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-el.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-he.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-ja.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-pt-br.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-sv.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-cat.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-en.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-hr.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-kr.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-pt.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-th.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-cn.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-hr1250.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-lt.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-ro.js
Core/Framework/Datagrid/lib/js/jqgrid/js/i18n/grid.locale-tr.js
Core/Framework/Datagrid/lib/js/jqgrid/js/install.txt
Core/Framework/Datagrid/lib/js/jqgrid/js/Changes.txt
Core/Framework/Datagrid/lib/js/jqgrid/css/ellipsis-xbl.xml
