
body{
	
	background-color: #000000;
}
header{
	
	
	height:80px;
	color:#f6f8f8;
	font-size:28px;
    text-align:left;
	position:relative;
	z-index:-1;
	text-align:left;
	
	font-family:Georgia;
	font-style:oblique;
	font-weight : bold;

	background-color:#7898e4;
	background-image:-webkit-linear-gradient(top, #7898e4, #2f3337);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);


}

header  td.slogan{	
	color:#fff;	
	font-size:13px;
	font-weight : bold;
}

header  td.banderas{
	text-align:right;
}


.formsSimple{
	background-color:transparent;
	width:30%;
	border-style:ridge;
	border-width:thin;
	position:center ; 
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight : bold;
}

.forms{
	background-color:transparent;
	width:40%;
	border-style:ridge;
	border-width:thin;
    position:center;
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style:normal;
}

.control{
	background-color:transparent;
	width:40%;
	border-style:ridge;
	border-width:thin;
    position:center;
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style:normal;
}


.dataGrids{
	width:90%;
    height:350;
	border-style:ridge;
	border-width:thin;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 4px 50px;
    color:  #e3e1e3;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}


